.form{
    font-family: 'Roboto', sans-serif;
}

.h1{
    color: #f0a00a;
    font-size: 1.5rem;
}

.form-input{
    margin-bottom: 0.5rem;
    width: 50%;
    height: 50px;
    border-radius: 6px;

    
}

.h3{
    margin-left: -270px;
    font-size:20px bold;
    
}

.form-text{
    width: 50%;
    border-radius: 6px;
}


.form-btn{
    margin-top: 20px;
    font-weight: 700;
    width: 170px;
    height: 50px;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 6px;
}